simple-jina-examples
jina-tutorial
jina_tutorial_2
examples
example-meme-search
example-video-search
example-multimodal-fashion-search
example-audio-search
example-wikipedia-recommendation
jina_hub.json
paddlepaddle_awesome_deeplearning_in_practice_multimodal
