*
!*/

# whitelist .gitignore from https://www.howtogeek.com/devops/how-to-set-up-gitignore-as-a-whitelist/

# programming languages
!*.py
!*.js
!*.ts
!*.mjs
!*.mts
!*.map
!*.c
!*.h
!*.cpp
!*.hpp
!*.go
!*.lua

# data store
!*.yml
!*.yaml
!*.json
!*.mjson

# templates
!*.mdl
!*.j2

# text files
!*.html
!*.md
!*.markdown
!*.txt
!*.rst
!*.log
!README # detection in lower case
!readme

# shell scripts
!*.sh
!*.cmd
!*.ps1
!*.xsh
!*.xonsh

# specials

!.gitignore
!.subModuleOrigin
*.db
*.zip
*.gif
*.lcl
*.lock
*.dll
*.jpg
*.tree
*.list
*.o
*.so
*.make
*.internal
*.a
*.png
*.egg
*.bin
*.cuh
*.cc
*.pptm
*.pdf
*.docx
*.vcxproj
*.sln
*.f
*.gz
*.whl
*.ipynb
*.mtx
*.bound
*.neigh
*.orient
*.sides
*.graph
*.mesh
*.css
*.dox
*.toml
*.texi
*.1
*.pod
*.59
*.asm
*.ptx
*.8
*.57
*.56
*.4
*.6
*.pnm
*.tga
*.inl
*.node
*.lib
*.fontified
*.tgz
*.exe
*.guess
*.sub
*.0
*.2
*.3
*.mp4
*.Po
*.mp3
*.cjs
*.bp
*.png123
*.5
*.405
*.in
*.jar
*.cmake
*.caffemodel
*.i
*.out
*.class
*.java
*.dat
*.xml
*.vec
*.svg
*.JPG
*.data
*.avi
*.xaml
*.npz
*.ply
*.cu
*.blend
*.bmp
*.qm
*.tif
*.pli
*.S
*.inc
*.icc
*.ppm
*.m4
*.obj
*.L3
*.mat
*.la
*.tiff
*.icns
*.ttf
*.dae
*.stl
*.data-00000-of-00001
*.meta
*.STL
*.npy
*.bsp
*.vtk
*.bullet
*.sdf
*.skp
*.TXT
*.cdf
*.wav
*.22
*.eps
*.ps
*.htm
*.csv
*.proto
*.cs
*.dylib
*.eot
*.woff
*.woff2
*.wasm
*.CUBE
*.3dl
*.3dm
*.3ds
*.3mf
*.bvh
*.fbx
*.gcode
*.glb
*.ifc
*.mpd
*.lwo
*.md2
*.pmd
*.vmd
*.nrrd
*.pcd
*.prwm
*.tilt
*.vox
*.ogg
*.webm
*.exr
*.hdr
*.ogv
*.dds
*.ktx
*.pvr
*.ktx2
*.asc
*.3DL
*.CSP
*.ICC
*.gltf
*.jpeg
*.pdl
*.pak
*.nexe
*.vsix
*.sfd
*.pt
*.flv
*.m4a
*.kra
*.kra~
*.TTF
*.model
*.pb
*.hdf5
*.pth
*.weights
*.doxygen
*.odt
*.debug
*.mdj
*.pmx
*.blob
*.flo
*.ldb
*.amr
*.tar
*.pkl
*.pdiparams
*.pdmodel
*.select
*.samples
*.onnx
*.001
*.002
*.003
*.004
*.PNG
*.rar
*.7z
*.CSX
*.e
*.ipa
*.ec
*.fnr
*.run
*.fne
*.bak
