(".json", processor="framediff_detector"{% if timestep %}, timestep={{timestep}}{% endif %} 
) # different from frame border detector. may check moving areas, check total movements, local movements.

("{{ mediafile }}")